@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 40px); /* 距離上方的距離，這裡設定為下拉選單下方 */
  /* 距離左側的距離，這裡設定為與父元素左對齊 */
  width: 85px;
}

.dropdown-menu-item {
  padding: 0.5rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: #f2f2f2;
}

.dropdown {
  position: relative;
}

.film-icon-container {
  position: relative;
}

.element-class:hover {
  color: rgb(144, 205, 241); /* 更改所需的顏色 */
}

.video-container {
  position: fixed;
  top: 20%; 
  right: 8%;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

